$bg-color: #e6e6e6;
$card-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$done-color: #22bb33;
$undone-color: #aaaaaa;

body {
  background-color: $bg-color;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-container {
  width: 50%;
  min-height: 50vh;
  padding: 48px;
  background-color: white;
  box-shadow: $card-shadow;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  &-title {
    font-size: 24px;
    margin: 0;

    &.done {
      color: lightgray;
    }
  }

  &-status {
    padding: 12px;
    background-color: $undone-color;
    border-radius: 50%;

    &.done {
      background-color: $done-color;
    }
  }
}

.todo-input {
  padding-top: 16px;

  input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid grey;
    // min-width: 200px;
  }

  .add-button {
    margin-left: 8px;
    padding: 9px 15px;
    border-radius: 4px;
    border: none;
    background-color: #24a0ed;
    color: white;
  }
}
